@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ola ke ase</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2>Este es el segundo commit</h2>
    <figure class="text-center">
       
        <img src="https://occ-0-8407-2219.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABdUHPu2AmsdSwALVHPueZYcsNPLb_ULHcKprf8oHIA3LZhB4MyCIbygPM_Lb3qZGtMTCo0LxB25YuEhgnv-zumVhHpeLOywhF4SL.jpg?r=db8" class="img-fluid" alt="ASP.NET Core" width="1000" height="500">
</figure>
<h3>Este es el tercer commit</h3>
<figure class="text-center">
<img class="img-fluid" src="https://img-c.udemycdn.com/user/200_H/3087210_f985.jpg" />
 </figure>
 <p class="text-center">Falta un curso de agentes</p>
</div>
